/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  background-image: url("./assets/Image-2.png");
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  padding: 20px;
  z-index: 999;
  padding: 20px;
}




header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

header ul {
  display: flex;
  list-style: none;
  align-content: center;
  align-items: center;
}

header li {
  margin-left: 20px;
}

header li:first-child {
  margin-left: 0;
}

header li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

header li a:hover {
  color: #eaeaea;
}

/* Hero section */
.hero {
  /*background-image: url("./assets/batik-2.png");*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: #fff;
  margin-top: 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.hero h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  color: #777;
}

.hero-image img {
  max-width: 200px;
  border-radius: 50%;
}

.projects {
 /* background-image: url("./assets/Hero-image.png");*/
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.projects {
  position: relative;
 /* width: 300px;
  height: 200px;*/
  background-color: #f0f0f0;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.projects:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}



.projects {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.project h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.project p {
  font-size: 16px;
  color: #555;
}

.projects-heading {
  text-align: center;
  /*margin-bottom: 20px;*/
  background-color: burlywood;
  background-color: #f1f1f1;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}




/* Contact section */
.contact {
  background-color: rgb(201, 219, 213);
  margin-top: 40px;
  text-align: center;
}

.contact h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.contact p {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
  font-size: 14px;
}
